body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #000000;
  font-family: "Avenir Next", "Avenir", sans-serif;
}
.header1 {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.braid h1 {
  margin-left: 130px;
}
.header2 {
  display: flex;
}
.log {
  margin-right: 10px;
}
.shop {
  margin-right: 10px;
}
