.footer_content {
  background-color: black;
  color: white;
}
.footer_items {
  padding: 20px;
}
.footer_content h6 {
  color: grey;
}
.parcourir a {
  text-decoration: none;
  color: white;
}
.reseaux {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.reseaux img {
  width: 20px;
}
.insta {
  margin-left: 20px;
  margin-right: 20px;
}
