body {
  font-family: "Roboto";
}
main {
  padding-top: 56px;
  overflow-x: none;
}

.home__page {
  width: 100%;
  height: calc(100vh - 56px);
  background: url("/assets/images/photo_mobile.jpeg") no-repeat center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
}
.home__page:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.homepage_content {
  color: white;
  position: absolute;
  text-align: center;
  top: 100px;
  z-index: 2;
}
.homepage_content h1 {
  font-family: "Couture";
  font-size: 20px;
  transform: translateY(-20px);
}
.homepage_content a {
  font-size: 14px;
  text-decoration: none;
  color: white;
  padding-top: 18px;
}
.article_content1 h1 {
  font-family: "Couture";
  text-align: center;
  margin-top: 20px;
  font-size: 25px;
}
.akira,
.akira2,
.akira3 {
  text-align: center;
}

.akira p,
.akira2 p,
.akira3 p {
  font-family: "Roboto";
  text-align: left;
  padding: 20px;
  line-height: 20px;
}
@media (min-width: 750px) {
  main {
    padding-top: 56px;
  }
  .home__page {
    background-image: url("/assets/images/cc.jpeg");
    position: relative;
    margin-top: 0;
  }
  .home__page:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .akira img {
    width: 700px;
  }
  .akira {
    display: flex;
    margin: 150px;
    font-size: 30px;
  }
  .akira2 img {
    width: 700px;
  }
  .akira2 {
    display: flex;
    margin: 150px;
    font-size: 30px;
  }
  .akira3 img {
    width: 700px;
  }
  .akira3 {
    display: flex;
    margin: 150px;
    font-size: 30px;
  }
}
