.contact_title {
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
  font-size: 26px;
  font-weight: 700;
}

.contact_form {
  padding: 0 30px 30px 30px;
  max-width: 900px;
  margin: auto;
}

.contact_div {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.contact_div input {
  border: none;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.contact_div textarea {
  border: 1px solid black;
}

.contact_div label {
  margin-bottom: 10px;
}

.contact_submit {
  background-color: #000000;
  color: white;
  padding: 10px 20px;
}

@media (min-width: 1000px) {
  .contact_content {
    height: calc(100vh - 355px);
  }
}
