.produit_content {
  max-width: 1300px;
  margin: auto;
}

.produit_title {
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
  font-size: 26px;
  font-weight: 700;
}

.img_produit {
  height: 400px;
  margin: auto;
}
.first_img {
  height: 300px;
  background: url(/assets/images/img_produit.png) no-repeat center;
  background-size: cover;
}
.small_img {
  display: flex;
}
.small_img div {
  height: 100px;
  width: calc(100vw / 3);
}
.scd_img {
  background: url(/assets/images/photo2.jpg) no-repeat center;
  background-size: cover;
}

.thrd_img {
  background: url(/assets/images/photo3.jpg) no-repeat center;
  background-size: cover;
}

.frth_img {
  background: url(/assets/images/photo4.jpg) no-repeat center;
  background-size: cover;
}
.produit_content h1 {
  text-align: center;
  margin: 20px;
  font-size: 24px;
}
.description {
  padding: 20px;
}
.description p {
  line-height: 22px;
}

.shop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  padding-bottom: 30px;
}
.techno_content {
  padding: 0 20px 20px 20px;
}

.techno_content ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
.techno_content li {
  width: 50%;
  margin: 10px 0;
}
.techno_title {
  margin-bottom: 8px;
  font-weight: 700;
}
.price {
  font-size: 20px;
}
.price a {
  text-decoration: none;
  color: black;
}
.add_to_shop {
  padding: 10px 20px;
  border: solid black 1px;
}
.add_to_shop a {
  text-decoration: none;
  color: black;
}
@media (min-width: 750px) {
  .produit p {
    font-size: 20px;
    padding: 20px;
    line-height: 30px;
  }
  .tech {
    font-size: 20px;
    padding: 20px;
  }
  .produit_info {
    display: flex;
    padding: 0 50px;
  }
  .img_produit {
    display: flex;
    width: 50%;
    height: 300px;
  }
  .first_img {
    width: 400px;
    height: 100%;
  }
  .small_img {
    flex-direction: column;
  }
  .small_img div {
    width: 100px;
    height: calc(100% / 3);
  }
  .produit_content1 h1 {
    font-size: 30px;
  }
  .description {
    padding: 20px;
  }
  .price {
    font-size: 20px;
    padding: 20px;
  }
  .price a {
    text-decoration: none;
    color: black;
  }
  .price a:hover {
    background-color: black;
    border: none;
    color: white;
  }
  .add_to_shop a {
    text-decoration: none;
    color: black;
  }
  .techno_content li {
    width: 25%;
  }
}

@media (min-width: 1000px) {
  .img_produit {
    height: 400px;
  }
  .small_img div {
    width: 150px;
    height: calc(100% / 3);
  }
  .techno_content li {
    width: 17%;
  }
}
